<template>
  <q-page class="container">
    <section class="categories">
      <h4>Categories</h4>

      <div class="flex" style="gap: 12px">
        <q-chip v-for="cat in categories" :key="cat.id" :color="chosenCategoryId === cat.id ? 'primary' : 'grey'"
                text-color="white" size="md" clickable @click="chooseCategory(cat.id)">
          {{ cat.name }}
        </q-chip>
      </div>
    </section>

    <section class="articles">
      <h4>Articles</h4>

      <p style="font-size: 18px" v-if="chosenCategoryId === -1">You have to select one category</p>
      <p style="font-size: 18px" v-else-if="articles.length === 0">There is no articles in chosen category</p>

      <div class="row q-col-gutter-lg">
        <div class="col-xs-12 col-sm-6 col-md-4" v-for="article in articles" :key="article.id">
          <q-card>
            <img :src="article.image">

            <q-card-section>
              <div class="row">
                <div class="col-8">
                  <div class="text-h6">{{ article.title }}</div>
                  <div class="text-subtitle2">{{ formatDate(article.createdAt) }}</div>
                </div>
                <div class="col-4 flex justify-end items-center">
                  <q-icon
                    name="favorite"
                    size="sm"
                    color="red"
                    class="cursor-pointer"
                    @click="likeArticle(article.id)"
                  />
                  <strong style="font-size: 18px; padding-left: 8px;">{{article.likeCount}}</strong>
                </div>
              </div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              {{ article.shortDescription }}
            </q-card-section>
          </q-card>
        </div>
      </div>
    </section>

    <div class="q-pa-lg flex flex-center" v-show="chosenCategoryId && articles.length">
      <q-pagination
        v-model="pagination.page"
        size="lg"
        :max="pagination.totalPages"
      />
    </div>
  </q-page>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {APIRequests} from 'src/helpers/APIRequests';

export default defineComponent({
  name: 'IndexPage',
  data() {
    return {
      articles: [],
      pagination: {
        totalPages: 1,
        page: 1
      },
      categories: [],
      chosenCategoryId: -1
    };
  },
  created() {
    this.getCats();
  },
  computed: {
    formatDate() {
      return (utc: string) => {
        const date = new Date(utc)

        return `${date.getDate().toString().padStart(2, '0')}.${(1 + date.getMonth()).toString().padStart(2, '0')}.${date.getFullYear()}`
      }
    }
  },
  watch: {
    chosenCategoryId() {
      this.loadArticles()
    },
    'pagination.page'() {
      this.loadArticles()
    }
  },
  methods: {
    async getCats() {
      this.categories = await APIRequests.getCats();
    },
    async loadArticles() {
      const paginatedArticles = await APIRequests.getArticlesByCategory(this.chosenCategoryId, this.pagination.page)

      this.articles = paginatedArticles.results
      this.pagination.totalPages = paginatedArticles.totalPages
    },
    chooseCategory(id: number) {
      this.pagination.page = 1
      this.chosenCategoryId = id
    },
    async likeArticle(id: number) {
      await APIRequests.likeArticle(id)
      await this.loadArticles()
    }
  }
});
</script>
